nav {
    margin-bottom: 40px;
    font-size: 20px;
    background-color: lightgrey;
    width: 100%;
    height: 90px;
    border-bottom: solid;
    border-color: black;

}
.name {
    font-size: 30px;
    padding: 31px;
    float: left;
    background-color: white;
}

nav a {
    color: black;
    float: right;
    padding: 10px;
}
.links{
    float: right;
    font-size: 20px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 150%;
    background-image: url("fancy-cushion.png")
}

.clearfix {
    clear: both;
}
.container {
        width: 1024px;
        margin-top: 40px;
        padding: 20px;
        background-color: lightgrey;
        margin-left: auto;
        margin-right: auto;
        border: solid;
}


#contact {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
}

footer{

    width: 100%;
    background-color: lightgrey;
    text-align: center;
    height: 70px;
    position: fixed;
    left: 0;
    bottom: 0;
    border: solid;
    border-top: 6px black;
}

.clearfix {
    clear: both;
}

.row {
    float: left;
  width: 33.33%; 
  width: 200px;
  height: 200px;
    
}

.clearfix {
    clear: both;
}

.container-2{
    width: 600px;
    margin-top: 80px;
    padding: 20px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    margin-bottom: 40px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;

  }

  .row::after {
    content: "";
    clear: both;
    display: table;
      
  }

  .project1{
      color: black;

  }

  h2 {
      border-bottom: solid black;
  }
 
  .row1 {
      text-align: center;
  }

  .row2{
      text-align: center
  }